.catalog-page {
  background-color: #303030;

  &__content {
    padding-top: 100px !important;
    background-image: url('../../assets/images/Rectangle.png');
    background-size: cover;
  }

  .filters {
    color: white;

    &__container {
      margin: 0 auto;
      display: flex;
      max-width: 400px;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      margin-right: 20px;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;
    }

    &__subtitle {
      margin: 5px;
      font-weight: 400;
    }

    &__input {
      width: 100px;
      background-color: #424242;
      border: 1px solid green;
      border-radius: 3px;
      outline: none;
    }
  }
}
