.catalog-page {
  background-color: #303030;
  padding-top: 100px;

  &__content {
    min-height: 100vh;
    background-image: url('../../assets/images/Rectangle.png');
    background-size: cover;
  }

  .filters {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
      width: 100%;
      display: flex;
      max-width: 400px;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;
    }

    &__subtitle {
      margin: 5px;
      font-weight: 400;
    }

    &__input {
      width: 100px;
      margin-right: 5px;
      background-color: #424242;
      border: 1px solid green;
      border-radius: 3px;
      outline: none;
    }

    &__sorting {
      margin-bottom: 20px;
    }

    @media (min-width: 850px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .no-products-message {
    text-align: center;
    color: white;
  }
}
