.main-feature {
  background-image: url('../../assets/images/main-product.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(0.664 * 100vw);

  // width: 100%;
  // height: 100%;
}
