.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation__divider {
  border: none;
  // height: 20px;
  // width: 0px;
  // border-left: 1px solid $color-primary;
  // margin: 0 20px 0 40px;

  // @include media-tablet-and_down {
  //   margin: 0 5px 0 20px;
  // }
}

.navigation__group-two {
  // margin-right: 20px;
  display: flex;
  align-items: center;
  @include media-mobile-only {
    margin-right: 5px;
  }
}

.basket-icon {
  align-self: center;
  color: white;

  svg {
    display: block;
    width: 25px;
    height: 25px;
  }
}
