.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation__divider {
  height: 20px;
  width: 0px;
  border-left: 1px solid $color-primary;
  //border-right:1px solid #16222c;
  margin: 0 20px 0 40px;

  @include media-tablet-and_down {
    margin: 0 10px 0 20px;
  }
}

.navigation__group-two {
  margin-right: 20px;
  @include media-mobile-only {
    margin-right: 5px;
  }
}
