.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__group-one {
    display: flex;
    align-items: center;
  }

  &__group-two {
    display: flex;
    align-items: center;
    @include media-mobile-only {
      margin-right: 5px;
    }
  }
}

.basket-icon {
  align-self: center;
  color: white;

  &_black {
    color: #000000de;
  }

  &:hover {
    transform: translateY(2px);
  }

  svg {
    display: block;
    width: 25px;
    height: 25px;
  }
}
