.logo {
  display: none;
  width: 40px;
  height: 40px;
  background: url('../../assets/images/logo.svg') no-repeat;
  background-size: cover;

  &:hover {
    transform: translateY(2px);
  }
}

@media (min-width: 650px) {
  .logo {
    display: block;
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }
}
